<h2>История покупок</h2>

{{#if History.length}}
<table border="1">
    <tr>
        <th>Товар</th>
        <th>Клиент</th>
        <th>Дата сделки</th>
    </tr>
    {{#each History}}
    <tr>
        <td>{{this.armor_product_id}}</td>
        <td>{{this.client_id}}</td>
        <td>{{this.sell_date}}</td>
    </tr>
    {{/each}}
</table>
{{else}}
<p>История покупок пуста.</p>
{{/if}}

<br />

<a href="/list">К списку Товаров</a> <br />
<a href="/clients">К списку Клиентов</a>
