<head>
  <title> Услуги нашего магазина </title>
</head>

<body>
  <p>
  <h2> Услуги нашего магазина:</h2>
  - просмотр бронежилетов, <br />
  - выбор товаров в Корзину, <br />
  - оформление покупки, <br />
  - просмотр историю продаж.
  </p>


  Наш телефон: (8552)52-34-27 <br />
  email: Inform_systems@mail.ru <br />

  <a href="/">На главную</a>
</body>